@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')

@import '_vars'
@import '_preloader'
@import '_header'
@import '_currencies'
@import '_footer'
@import '_media'

*
	margin: 0
	padding: 0

body
	background-color: $bg-color
	font-family: 'Open Sans', sans-serif
	background-image: url('../../public/images/whales.svg')
	background-repeat: no-repeat
	background-position: left bottom
	background-size: contain
	background-attachment: fixed
	height: 100vh

img
	pointer-events: none
	-moz-user-select: none
	-webkit-user-select: none
	-ms-user-select: none
	user-select: none

a
	color: $text-color
	text-decoration: none
